<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsDao" class="ru.otus.dao.QuestionsDaoImpl">
        <property name="fileName" value="questions.csv"/>
    </bean>

    <bean id="questionsService" class="ru.otus.service.QuestionsServiceImpl">
        <constructor-arg name="questionsDao" ref="questionsDao"/>
    </bean>

</beans>
